html{
    margin: 0%;
    min-height: 100%;
    width:75%;
    background: linear-gradient(pink 0%,  white 100%);
}

.con{
    display: flex;
   
}

.content{
    width: 90%;
    padding: 10px;
}

.concon{
    float: right;
}

.list{
    background-color: rgba(255,255,255,0.8);
    margin: 10px;
    padding: 10px;
    position: flex;
    float: left;
    min-height: 10%;
    height: 100%;
    width:500px;
}

.a{
    text-align: center;
    position: relative;
    left: 235px;
}

#html{
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 235px;
    font-size: 20px;
    background-color: rgba(128,128,128,0.5);
}


#meta{
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 235px;
    font-size: 20px;
    background-color: rgba(128,128,128,0.8);
}

#style{
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 235px;
    font-size: 20px;
    background-color: rgba(128,128,128,0.5);
}

body{
    padding-top: 0%;
    margin: 0%;
    min-height: 100%;

}

h1{
    position: relative;
    left: 235px;
    margin: 0%;
    text-align: center;
    background-color: white;
}

h2{
    background-color: rgba(220, 0, 0, 0.5);
}



p{
    padding: 0%;
    border: 0%;
    margin: 0%;

  

}
ul{
    margin: 0%;

}
